<ion-content [ngClass]="{'alert-open': couponDetail != 0}">
  <div class="page-header-title">
    <img src="assets/images/title/coupon.png" alt="">My Coupon
  </div>
  <div>{{stu_id}} {{name}}</div>
  <ion-row class="row-header">
    <ion-col col-1>
    </ion-col>
    <ion-col col-4>
      업체
    </ion-col>
    <ion-col col-3>
      금액
    </ion-col>
    <ion-col col-3>
      유효기간
    </ion-col>
  </ion-row>
  <ion-row class="row-content" (click)="detail(coupon)" *ngFor="let coupon of coupons; let i = index">
    <ion-col col-1 class="index">{{i + 1}}</ion-col>
    <ion-col col-4 class="name">{{coupon.shopName}}</ion-col>
    <ion-col col-3 class="amt">{{coupon.amt}}</ion-col>
    <ion-col col-3 class="amt">{{dt(coupon.expDttm)}}</ion-col>
    </ion-row>
    <div class="coupon-alert" *ngIf="couponDetail != 0">
      <div class="content">
        <div>{{couponDetail.shopName}}</div>
        <div>{{couponDetail.amt}}</div>
        <div>{{dt(couponDetail.expDttm)}}</div>
      </div>
      <div class="use-btn" (click)="couponDetail2=1">
        사용하기
      </div>
    </div>
    <div class="coupon-alert" *ngIf="couponDetail2 != 0">
      <div class="content">
        <div>정말 사용하시겠습니까?</div>
      </div>
      <div class="use-btn" (click)="useCoupon(couponDetail.no)">
        사용하기
      </div>
    </div>
    <div class="backdrop" *ngIf="couponDetail != 0" (click)="couponDetail = 0;couponDetail2 = 0"></div>
</ion-content>
