page-shop {
    .scroll-content {
        background: #f3f3f4;
    }

    .select-section {
       background: #45b97c;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 10px;

        .select-box {
            position: relative;
            flex-basis: 45%;
            font-weight: 600;

            .box-btn {
                background: #f3f3f4;
                color: #45b97c;
                padding: 10px 20px;
                display: flex;
                justify-content: space-between;

                ion-icon {
                    transform: rotate(90deg);
                }
            }
            .box-content {
                width: calc(100% + 3px);
                position: absolute;
                margin-top: 5px;
                background: white;
                border: #45b97c 3px solid;
                z-index: 100;
                padding: 0px 2px;
                box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.14);
                
                div:not(:last-child) {
                    border-bottom: #d4d5d6 solid 1px;
                }
                div {
                    padding: 10px;
                }
            }
        }
        .search-btn {
            flex-basis: 20%;
            padding: 10px;
            color: white;
            border: 1px solid white;
            border-radius: 5px;
            text-align: center;
        }
    }

    .item-row {
        background: white;
        text-align: center;
        margin: 10px 10px;
        padding: 10px 0px;

        ion-col {
            display: flex;
            align-items: center;
            justify-content: center;

            &.idx {
                color: #45b97c;
            }
            &.name {
                word-break: keep-all;
                justify-content: flex-start;
                text-align: left;
            }
            &.type, &.loca {
                color: #959699;
            }
        }
    }
}
