page-complain {
    .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #f3f3f4;
    }

    .page-header-title {
        z-index: 9;
        position: absolute;
    }

    .btn-container {
        width: 65%;
        margin: auto;
    }
}
