<ion-content>
  <div class="title">
    달력
  </div>
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col>
      <ion-row margin-left class="top-row">
        <ion-col>일</ion-col>
        <ion-col>월</ion-col>
        <ion-col>화</ion-col>
        <ion-col>수</ion-col>
        <ion-col>목</ion-col>
        <ion-col>금</ion-col>
        <ion-col>토</ion-col>    
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let weekData of item; let i = index">
    <ion-col col-2 class="left-col">{{i+1}}주차</ion-col>
    <ion-col>
      <ion-row class="right-row">
        <ion-col *ngFor="let data of weekData.week; let j = index;">
          <div class="number-index">
            29
          </div>
          <div class="schedule-mark" *ngFor="let day of data" (click)="detail(data)">
            {{day.title}}
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <div *ngIf="detailData != 0" class="calendar-alert">
    <ng-container *ngFor="let day of detailData; let i = index">
      <div (click)="choice(day)" class="calendar-summury-title" *ngIf="choose == 0">{{i + 1}}. {{day.title}}</div>
    </ng-container>
    <div class="detail" *ngIf="choose != 0">
      <div class="detail-title">
        {{choose.title}}
      </div>
      <div class="detail-content">
        {{choose.content}}
      </div>
    </div>
  </div>
  <div class="backdrop"  *ngIf="detailData != 0" (click)="detailData = 0; choose = 0;"></div>
</ion-content>
