page-notice {
    .scroll-content {
        background: #f3f3f4;
        padding: 0px 10px;
    }
    .title {
        margin: 30px 0px;
        font-size: 28px;
        color: #207b4a;
    }
    .item-row {
        background: white;
        text-align: left;
        margin: 10px 0px;
        padding: 10px 0px;
        box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.14);

        ion-col {
            // display: flex;
            align-items: left;
            justify-content: center;

            &.idx {
                text-align: left;
                color: black;
            }
            &.name {
                word-break: keep-all;
            }
            &.type, &.loca {
                color: #959699;
            }
        }
    }
}
